/* Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	/* do not display:block for img! */
}

picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

ul,
li {
	list-style: none;
}

ul.with-list,
ul.with-list li {
	list-style: disc;
}


/* Base variables */
:root {
	--white: #FFF;
	--cyan: #0bc0b9;
	--black: #333333;
	--main-color: var(--cyan);

	--font-Exo: "Exo";
	--font-Oswald: "Oswald";

	--heading-font: var(--font-Oswald);
	--heading-font-variant: var(--font-Exo);
	--link-font: var(--font-Exo);

	font-family: var(--font-Exo);

	--max-width-md: 1200px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	color: var(--main-color);
	text-transform: uppercase;
}

h1.exo,
h2.exo,
h3.exo,
h4.exo,
h5.exo,
h6.exo {
	font-family: var(--heading-font-variant);
	color: var(--black);
}

h1.dark,
h2.dark,
h3.dark,
h4.dark,
h5.dark,
h6.dark {
	color: var(--black);
	font-size: 30px;
}

a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 700;
	line-height: 22.85px;
}

a.active,
a:hover {
	text-decoration: underline;
}

a:visited {
	color: inherit
}